1. Membuat array menggunakan fungsi dari library numpy

In [43]:
import numpy as np

na = np.array([9,6,9,6,7,1,7,1,1,2])
print(na)

[9 6 9 6 7 1 7 1 1 2]

2. Mengubah tipe data array menjadi list

In [44]:
b = np.array([9,6,9,6,7,1,7,1,1,2])
print(b[0])
print(b[1])
print(b[2])
print(b[3])
print(b[4])
print(b[5])
print(b[6])
print(b[7])
print(b[8])
print(b[9])

9
6
9
6
7
1
7
1
1
2

3. Tampilkan nomer urut (index), nilai, dan kondisi jika nilai kurang dari 6 tidak lulus, sebaliknya lulus, menggunakan perulangan

In [45]:
a = na.tolist()
print('tipe data awal',na)
print('tipe data akhir',a)


for i, nilai in enumerate(a):
  print('nomor urut ke',i , 'dengan nilai',nilai)
  if(nilai >= 6):
    print('lulus')
  else:
    print('belum lulus')

tipe data awal [9 6 9 6 7 1 7 1 1 2]
tipe data akhir [9, 6, 9, 6, 7, 1, 7, 1, 1, 2]
nomor urut ke 0 dengan nilai 9
lulus
nomor urut ke 1 dengan nilai 6
lulus
nomor urut ke 2 dengan nilai 9
lulus
nomor urut ke 3 dengan nilai 6
lulus
nomor urut ke 4 dengan nilai 7
lulus
nomor urut ke 5 dengan nilai 1
belum lulus
nomor urut ke 6 dengan nilai 7
lulus
nomor urut ke 7 dengan nilai 1
belum lulus
nomor urut ke 8 dengan nilai 1
belum lulus
nomor urut ke 9 dengan nilai 2
belum lulus

4. Tampilan list nilai secara terurut dan hapus nilai yang sama

In [47]:
a = [9,6,9,6,7,1,7,1,1,2]
def remove_duplicate(duplist):
  noduplist = []

  for element in duplist:
    if element not in noduplist:
      noduplist.append(element)

  return noduplist

print('list nilai awal:', na)
print('list nilai akhir:',remove_duplicate(a))

list nilai awal: [9 6 9 6 7 1 7 1 1 2]
list nilai akhir: [9, 6, 7, 1, 2]

5. Ambil nilai 2 secara random di list nilai kemudian tampilkan nilai yang tidak terambil

In [76]:
na = np.array([1, 2, 6])
print('nilai awal:', na)
print('nilai random yang diambil:', na[:2])
print('nilai yang tidak diambil:', na[2:])

nilai awal: [1 2 6]
nilai random yang diambil: [1 2]
nilai yang tidak diambil: [6]